include ../navbar

include ../subnav

div.container
  h1 #{id}
  if error != ""
    div.alert.alert-error= error
  form.form-horizontal(
    action="/cohort/#{id}/add",
    method="POST"
  )
    fieldset
      div.control-group
        label.control-label(for="input01") 日付("YYYYMMDD")
        div.controls
          input.input-xlarge(type="text",name="date",value=targetDay)
      div.control-group
        label.control-label(for="textarea") JSON
        div.controls
          textarea.input-xlarge(rows="10",name="data")
      div.form-actions
        button.btn.btn-primary(type="submit") 送信
        button.btn キャンセル
